<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <style type="text/css">
      .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
      }

      .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
      }
    </style>
  </head>
  <body ng-controller="NameCtrl">
      <ul>
          <li ng-repeat="name in names">{{name}}</li>
      </ul>

      <form ng-submit="addName()" novalidate  class="css-form" >
          <input type="text" ng-model="enteredName" required ng-minlength=5 ng-maxlength=20 >
          <input type="submit" >
      </form>

      <pre ng-bind="enteredName | json"></pre>

    <script>
        var nameApp = angular.module('nameApp', []);
        nameApp.controller('NameCtrl', function ($scope){
            $scope.names = ['Gandalf', 'Tyrion', 'Heisenberg'];

            $scope.addName = function() {
                $scope.names.push($scope.enteredName);
                $scope.enteredName = '';
            };
        });
    </script>
  </body>
</html>
